[Desktop Entry]
Name=Matlab
GenericName=Matlab
Comment=Use Octave instead
Exec=matlab
Icon=matlab
Terminal=false
Type=Application
Categories=Science;Math;
StartupNotify=true
